.custom-btn .btn-group {
    margin-top: 20px;
}

.dashboard-btn .btn-group {
    margin-top: 25px;
}

.csv_name {
    width: auto;
    display: inline-block;
    margin-left: 5px;
}

.csvSelectList {
    width: 47%;
    display: inline-block;
}

div.raw_list_data {
    width: 500px;
    max-width: 93%;
    padding: 2%;
}

.raw_list_data #changedatatable a {
    color: #418ebb;
}

.raw_list_data #changedatatable {
    width: 100%;
}

.raw_list_data #changedatatable tr td:nth-child(2) {
    text-align: right;
    font-size: 14px;
}

.raw_list_data #changedatatable tr td:nth-child(1) {
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 5px;
}

tr.number_household td:nth-child(2) span,
tr.number_indiv td:nth-child(2) span {
    background: #00c0ef;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .2), 1px 1px 1px rgba(255, 255, 255, .1);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .2), 1px 1px 1px rgba(255, 255, 255, .1);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .2), 1px 1px 1px rgba(255, 255, 255, .1);
    color: #fff;
    padding: 0px 10px;
}

div.raw_list_data .panel-heading {
    padding: 0px;
}

.live_count div.raw_list_data {
    float: RIGHT;
    -webkit-box-shadow: 0px 4px 13px 3px #9E9E9E;
    box-shadow: 0px 4px 13px 3px #9E9E9E;
    -moz-box-shadow: 0px 4px 13px 3px #9E9E9E;
    margin-top: 10%;
    padding: 0px
}

.live_count div.raw_list_data h4.panel-title {
    background: #3c8dbc;
    padding: 15px !important;
    height: auto;
}

.live_count div.raw_list_data tr {
    height: 55px;
}

.live_count div.raw_list_data tr td {
    font-size: 16px;
}

.live_count div.raw_list_data tr td i {
    color: #3c8dbc;
    font-size: 25px;
    position: relative;
    left: -7px;
}

.bottom_btn_section {
    clear: both;
    /*text-align: center;*/
    margin-left: 300px;
    margin-bottom: 5%;
    padding: 10px 0;
}

.bottom_btn_section .btn {
    min-width: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    margin: 0px 10px;
}

.new_name_field {
    padding: 0px 2%;
}

.new_name_field input {
    padding: 5px;
    width: 400px;
    font-size: 16px;
    color: #3c8dbc;
    max-width: 100%;
}

.new_name_field input::placeholder {
    color: #00c0ef;
}

.panel.panel-default {
    position: relative;
}

span.exclude_item {
    position: absolute;
    right: -74px;
    top: 5px;
    font-size: 14px;
    color: #00c0ef;
    FONT-WEIGHT: BOLD;
    letter-spacing: 0px;
}

span.exclude_item_map {
    position: absolute;
    right: -59px;
    top: 5px;
    font-size: 14px;
    color: #00c0ef;
    FONT-WEIGHT: BOLD;
    letter-spacing: 0px;
}

span.add_item_multi {
    position: absolute;
    right: -60px;
    top: 5px;
    font-size: 14px;
    color: #00c0ef;
    text-transform: uppercase;
}

input#cb1:checked+label:before {
    background: #00c0ef;
}

input#cb1+label:before {
    content: '';
    margin-right: 3px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid;
}

input#cb1:checked+label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

span.add_item_multi input#cb1 {
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
    z-index: 1;
}

span.add_item_multi input#cb1+label {
    position: relative;
    cursor: pointer;
    padding: 0;
}

span.exclude_item i {
    font-size: 18px;
    margin-right: 2px;
}

.ful_widthselect {
    overflow-y: auto;
}

.ful_widthselect option {
    padding-bottom: 8px;
    font-size: 14px;
}

select#gender {
    height: 70px;
    overflow-y: auto;
}

div.raw_list_data h4 {
    margin: 2% 0;
    color: #00c0ef;
    font-size: 20px;
}

div.raw_list_data .panel-heading h4 {
    display: block;
    position: relative;
    min-width: 110px;
    padding: 0 10px 0 15px;
    height: 32px;
    color: #fdfdfd;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .35);
    line-height: 29px;
    background: #6c6e74;
    background: -moz-linear-gradient(top, #6c6e74 0%, #4b4d51 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c6e74), color-stop(100%, #4b4d51));
    background: -webkit-linear-gradient(top, #6c6e74 0%, #4b4d51 100%);
    background: -o-linear-gradient(top, #6c6e74 0%, #4b4d51 100%);
    background: -ms-linear-gradient(top, #6c6e74 0%, #4b4d51 100%);
    background: linear-gradient(top, #6c6e74 0%, #4b4d51 100%);
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
    font-size: 17px;
    margin: 0px;
}

h3.list_title span {
    padding: 5px;
    background: #3c8dbc;
    color: #fff;
}

.live_count .raw_list_data #changedatatable tr td {
    font-size: 16px;
}

input#textserach,
select#selectf,
input#subbb,
.walkBook-container select#walkbook,
.walkBook-container input,
.walkBook-container .btn {
    height: 34px;
    vertical-align: top;
}
select#selectf,.walkBook-container select#walkbook {
    margin-bottom: 10px;
}
div.raw_list_data .panel-heading h4 a {
    width: 100%;
    float: initial;
    display: block;
}
.modal_button_section {
    padding: 10px;
}

.modal_button_section .btn {
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
}
.qustn{
    color: #00c0ef;
    margin-top: 30px;
    font-size: 24px;
}
.qustn_answr .panel.box.box-primary {
    border: 0px;
}

.qustn_answr .panel.box.box-primary span {
    font-size: 20px;
    font-weight: 500;
}

.qustn_answr .box-body p label {
    font-weight: normal;
}
.qustn_answr .box-group>.box{margin-bottom: 20px;}

/** responsive **/

@media (max-width:991px) {
    .h3,
    h3 {
        font-size: 20px;
    }
    div.raw_list_data .panel-heading h4 {
        font-size: 16px;
    }
    input#cb1+label:before,
    span.add_item_multi input#cb1 {
        width: 15px;
        height: 15px;
    }
    input#cb1:checked+label:after {
        left: 3px;
        top: 8px;
    }
    span.add_item_multi {
        right: -49px;
        font-size: 12px;
    }
    .panel-body,
    .live_count div.raw_list_data h4.panel-title {
        padding: 5px;
    }
    div.raw_list_data .panel-heading h4 {
        padding-left: 5px;
    }
    .live_count div.raw_list_data tr td i {
        font-size: 20px;
        left: 0px;
    }
    span.exclude_item {
        font-size: 12px;
        right: -70px;
    }
    div.raw_list_data h4 {
        font-size: 17px;
    }
}

@media (max-width:767px) {
    div.raw_list_data {
        max-width: 100%;
    }
    span.exclude_item i {
        visibility: visible;
        float: right;
    }
    span.exclude_item {
        visibility: hidden;
        right: -17px;
    }
    span.add_item_multi {
        right: -20px;
    }
    span.add_item_multi {
        font-size: 0px;
    }
    .box-header .col-sm-6 {
        padding: 0px;
        margin: 0px auto;
        text-align: center !important;
    }

    select#walkbook {
        width: 145px;
    }

    input#textserach {
        width: 143px;
    }
    .live_count div.raw_list_data{float: none;width:100% !important;}
}

.customer_details_box {
    box-shadow: 0px 0px 4px #0000007a;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-bottom: 6%;
}

.customer_details_box
.customer_image {
    float: left;
    width: 40%;
}

.customer_details_box .customer_final_details {
    float: left;
    width: 60%;
}

.customer_details_box .customer_image i {
    font-size: 7em;
}

.loader-modal
{
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}
.loader-center
{
    z-index: 1000;
    margin: 300px auto;
    padding: 10px;
    width: 130px;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}
.loader-center img
{
    height: 128px;
    width: 128px;
    border-radius: 15px;
}


